<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as itemAdder'>
     <h2>To Buy:</h2>
     <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
     <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
     <button class="btn btn-default" ng-click="itemAdder.addItem();"><span class="glyphicon glyphicon-ok"></span>Add to BoughtList</button>
     <ul>
        <li ng-repeat="item in itemAdder.items">{{ item.name }} by {{item.quantity}}<button class="btn btn-default" ng-click="itemAdder.addBoughtList($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
      </ul>

      <h2>boughtlist<h2>
        <ul>
           <li ng-repeat="item in itemAdder.boughtOnes">{{ item.name }} by {{item.quantity}}</li>
         </ul>

     <div class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controlle=' AlreadyBoughtController as boughtItems'>
      <h2>To Buy list from boughtItems</h2>
      <ul>
         <li ng-repeat="item in boughtItems.tobuyList">{{ item.name }} by {{item.quantity}}</li>
       </ul>

     <h2>Already Bought:</h2>
        {{boughtItems.items}}

      <ul>
        <li ng-repeat="item in boughtItems.items">{{ item.name }} by {{item.quantity}}<button class="btn btn-default" ng-click="itemAdder.addBoughtList($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
      </ul>

     <ul>
       <li>Bought 10 cookies</li>
     </ul>
     <div class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
